# 1. Libraries

In [1]:
import s3fs
import sqlite3
import psycopg2
import pandas       as pd
from sqlalchemy     import create_engine

# 2. Loading Data

## 2.1 Wave Dataset

In [52]:
wave_path_s3 = 's3://irish-sea-case/wave_dataset/'

In [53]:
station1 = pd.read_csv(wave_path_s3 + 'amets_berth_a_wave_buoy.csv')
station2 = pd.read_csv(wave_path_s3 + 'amets_berth_b_wave_buoy.csv')
station3 = pd.read_csv(wave_path_s3 + 'bantry_bay.csv')
station4 = pd.read_csv(wave_path_s3 + 'brandon_bay.csv')
station5 = pd.read_csv(wave_path_s3 + 'clew_bay.csv')
station6 = pd.read_csv(wave_path_s3 + 'smartbay_wave_buoy.csv')

/tmp/ipykernel_55384/1029186833.py:3: DtypeWarning: Columns (0,1,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  station3 = pd.read_csv(wave_path_s3 + 'bantry_bay.csv')
/tmp/ipykernel_55384/1029186833.py:6: DtypeWarning: Columns (0,1,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  station6 = pd.read_csv(wave_path_s3 + 'smartbay_wave_buoy.csv')

In [54]:
df_wave = pd.concat([station1, station2, station3, station4, station5, station6]).reset_index(drop=True)

## 2.2 Tide Dataset

In [9]:
tide_path_s3 = 's3://irish-sea-case/tide_dataset/'

In [10]:
station01 = pd.read_csv(tide_path_s3 + 'aranmore_island_leabgarrow.csv')
station02 = pd.read_csv(tide_path_s3 + 'ballycotton_harbour.csv')
station03 = pd.read_csv(tide_path_s3 + 'ballyglass_harbour.csv')
station04 = pd.read_csv(tide_path_s3 + 'castletownbere_port.csv')
station05 = pd.read_csv(tide_path_s3 + 'dingle_harbour.csv')
station06 = pd.read_csv(tide_path_s3 + 'dublin_port.csv')
station07 = pd.read_csv(tide_path_s3 + 'dunmore_east_harbour.csv')
station08 = pd.read_csv(tide_path_s3 + 'galway_port.csv')
station09 = pd.read_csv(tide_path_s3 + 'howth_water_level_1.csv')
station10 = pd.read_csv(tide_path_s3 + 'inishmore.csv')
station11 = pd.read_csv(tide_path_s3 + 'killybegs_port.csv')
station12 = pd.read_csv(tide_path_s3 + 'kilrush_lough.csv')
station13 = pd.read_csv(tide_path_s3 + 'kinvara.csv')
station14 = pd.read_csv(tide_path_s3 + 'malin_head_portmore_pier.csv')
station15 = pd.read_csv(tide_path_s3 + 'roonagh_pier.csv')
station16 = pd.read_csv(tide_path_s3 + 'rosslare.csv')
station17 = pd.read_csv(tide_path_s3 + 'skerries_harbour.csv')
station18 = pd.read_csv(tide_path_s3 + 'sligo.csv')
station19 = pd.read_csv(tide_path_s3 + 'union_hall_harbor.csv')
station20 = pd.read_csv(tide_path_s3 + 'wexford_harbour.csv')

In [11]:
df_tide = pd.concat([station01, station02, station03, station04, station05, station06, station07, station08, station09, station10, station11, station12, station13, station14, station15, station16, station17, station18, station19, station20]).reset_index(drop=True)

# 3. Creating Database

## 3.1 Wave Table

In [2]:
# Database Conection

host = 'irish-sea-db.cyllx5pgzqdx.us-east-1.rds.amazonaws.com'
port = '5432'
database = 'postgres'
user = 'postgres'
pwd = 'dadosfera'

endpoint_aws = f'postgresql://{user}:{pwd}@{host}/{database}'

# conn = create_engine(endpoint_aws)

engine = create_engine(endpoint_aws)
connection = engine.connect()

In [14]:
df_wave.dtypes

longitude                object
latitude                 object
time                     object
station_id               object
PeakPeriod               object
PeakDirection            object
UpcrossPeriod            object
SignificantWaveHeight    object
Hmax                     object
SeaTemperature           object
MeanCurSpeed             object
MeanCurDirTo             object
dtype: object

In [57]:
# # Create Wave Table
# query_wave = """ 
#     CREATE TABLE wave (
#         "longitude"             VARCHAR(30),
#         "latitude"              VARCHAR(30),
#         "time"                  VARCHAR(30),
#         "station_id"            VARCHAR(30),
#         "PeakPeriod"            VARCHAR(30),
#         "PeakDirection"         VARCHAR(30),
#         "UpcrossPeriod"         VARCHAR(30),
#         "SignificantWaveHeight" VARCHAR(30),
#         "Hmax"                  VARCHAR(30),
#         "SeaTemperature"        VARCHAR(30),
#         "MeanCurSpeed"          VARCHAR(30),
#         "MeanCurDirTo"          VARCHAR(30)
#     )
# """

# cursor = connection.execute(query_wave)

## 3.2 Tide Table

In [63]:
# Create Tide Table
query_tide = """ 
    CREATE TABLE tide (
        "time"                        VARCHAR(30),
        "station_id"                  VARCHAR(30),
        "latitude"                    VARCHAR(30),
        "longitude"                   VARCHAR(30),
        "Water_Level_LAT"             VARCHAR(30),
        "Water_Level_OD_Malin"        VARCHAR(30),
        "QC_Flag"                     REAL
    )
"""

cursor = connection.execute(query_tide)

In [62]:
# Drop Table
query_drop = """ 
    DROP TABLE tide
"""

cursor = connection.execute(query_drop)

# 4. Insert Data

In [64]:
#df_wave.to_sql('wave', con = engine, if_exists='append', index=False)
#df_tide.to_sql('tide', con = engine, if_exists='append', index=False)

639

# 5. Consulting Database

In [65]:
# Consulting Database
query = """ 
    SELECT * FROM tide

"""

df1 = pd.read_sql_query(query, engine)
df1.head()

,time,station_id,latitude,longitude,Water_Level_LAT,Water_Level_OD_Malin,QC_Flag
0,UTC,None,degrees_north,degrees_east,metres,metres,NaN
1,2021-09-01T00:00:00Z,Aranmore Island - Leabgarrow,54.9905,-8.4955,2.492,0.289,1.0
2,2021-09-01T00:05:00Z,Aranmore Island - Leabgarrow,54.9905,-8.4955,2.532,0.329,1.0
3,2021-09-01T00:10:00Z,Aranmore Island - Leabgarrow,54.9905,-8.4955,2.532,0.329,1.0
4,2021-09-01T00:15:00Z,Aranmore Island - Leabgarrow,54.9905,-8.4955,2.529,0.326,1.0

In [66]:
df1.shape

(1736639, 7)

In [51]:
df1.columns

Index(['longitude', 'latitude', 'time', 'station_id', 'PeakPeriod',
       'PeakDirectio', 'UpcrossPeriod', 'SignificantWaveHeight', 'Hmax',
       'SeaTemperature', 'MeanCurSpeed', 'MeanCurDirTo'],
      dtype='object')

In [39]:
connection.close()

In [18]:
df_wave['station_id'].value_counts()

Bantry Bay                 97705
SmartBay Wave Buoy         70141
Brandon Bay                47051
AMETS Berth B Wave Buoy    17049
AMETS Berth A Wave Buoy    16779
Clew Bay                    9666
Name: station_id, dtype: int64